<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
  <div class="container">
    <h2>Inventario de equipos</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Serial</th>
            <th scope="col">Modelo</th>
            <th scope="col">descripcion</th>
            <th scope="col">Color</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>

         <% listainv.forEach(inv =>{%>

            <tr>
              <th scope="row"><%= inv._id %></th>
              <td> <%= inv.serial %></td>
              <td><%= inv.modelo %></td>
              <td><%= inv.descripcion %></td>
              <td><%= inv.color %></td>
              <td><%= inv.fechacompra %></td>
              <td><button  class="btn btn-secondary" >update</button></td>
              <td><button class="btn btn-danger">delete</button></td>
             
            </tr>

            
        
     <%})%>
         
         
        </tbody>
      </table>
      <a href="/">volver</a>
  </div>
</body>
</html>